alias editor="code-insiders"
alias runner="nr"

alias zconf="editor ~/.zshrc"
alias zsource="source ~/.zshrc"

alias getTag="git describe --tags --abbrev=0"
alias dev="runner dev"
source ~/backup/remotes
source ~/backup/locals

alias sshRemote="editor ./remotes"
alias dcupd="docker-compose up -d"
alias dcdwn="docker-compose down"
alias recon="dcdwn -v && dcupd"

alias allias="editor ~/backup/.aliases"

# #back-node
alias backNode="Partithura && cd backend-node"
alias prepare="runner db:prepare"
alias criaMigration="runner knex migrate:make"
alias rollback="runner knex migrate:rollback"
alias latest="runner knex migrate:latest"
alias wtest="runner test:unit --watch"

# # data-sync
alias data-sync="Partithura && cd data-sync-injection"
alias freeBuild="data-sync && cleanEnvTs && gcm && gmm && start"

# # Whatsapp
alias run:whats="cd /Users/julianostroschon/Documents/Projects/partithura/wpp-web && runner dev"

## git
alias gim="gitmoji -c"
alias gmm="git merge origin/master"
alias gmd="git merge origin/develop"
alias gaa="git add ."
alias gffs="git flow feature start"
alias gfs="gcd && gmm && gffs"
alias gff="git flow feature finish"

## infra-devops
alias deploy="infraDir && gl && docker compose run --rm tooling"
alias generate="runner generate"

alias syncDevelop="gcd && gl && gmm && gp" 

## version
alias minorion=" ~/backup/gitversion -v minor"
alias patichon="gl && ~/backup/gitversion -v patch"
alias addTag="~/backup/gitversion -v"
