alias zconf="code ~/.zshrc"
alias zsource="source ~/.zshrc"


alias dev="nr dev"
##remotos
# alias odin="ssh odin@10.10.0.6"
# alias infra="ssh root@10.10.0.2"
alias lpartithura="ssh root@10.10.0.2"
alias lelyte="ssh root@10.0.0.10"
alias wpp-partithura="ssh root@165.22.35.110"

alias gim="gitmoji -c"
alias dcupd="docker-compose up -d"
alias dcdwn="docker-compose down"
alias recon="dcdwn -v && dcupd"

alias Projectss="cd ~/Documents/Projects"
alias Partithura="Projectss && cd partithura"
alias Paralelos="Projectss && cd paralelos"
alias frontify="Partithura && cd frontend-vuetify"
alias infraDir="Partithura && cd infra-devops"
alias injectDir="Partithura && cd inject"
alias allias="code ~/backup/.aliases"

# #back-node
alias backNode="Partithura && cd backend-node"
alias prepare="nr db:prepare"
alias criaMigration="nr knex migrate:make"
alias rollback="nr knex migrate:rollback"
alias latest="nr knex migrate:latest"
alias wtest="nr test:unit -w"

# # data-sync
alias data-sync="Partithura && cd data-sync-injection"
alias start="nvm use 18 && nr build && yarn run:erp"
# alias stop="cd ~/Documents/data-sync-injection && nvm use 18 && yarn run:stop"
alias cleanEnvTs="echo 'export default {} as Record<string, string | number>' > src/env.ts"
alias buildall="gcm && gmm && nr build:all && cleanEnvTs"
alias freeBuild="data-sync && cleanEnvTs && gcm && gmm && start"

# # Whatsapp
alias run:whats="cd /Users/julianostroschon/Documents/Projects/partithura/wpp-web && nr dev"

## git
alias gmm="git merge origin/master"
alias gaa="git add ."
alias gim="gitmoji -c"
alias gffs="git flow feature start"
alias gfs="gcd && gmm && gffs"
alias gff="git flow feature finish"

## infra-devops
alias deploy="infraDir && gl && docker compose run --rm tooling"
alias generate="nr generate"

## version
alias patichon="gcm && gl && addTag -v patch"